<mat-card *ngIf="(status$ | async) === registationPageStatusses.WELCOME">
  <mat-card-content>
    <h1>What do you want to have when you retire?</h1>
    <div class="goal-container">
      <app-image-hover
        matTooltip="Retirement"
        [matTooltipPosition]="'below'"
        imageUrl="./assets/retirement-icon.png" imageUrlHover="./assets/retirement-icon-hover.png"
        (click)="selectGoal('Retirement')"></app-image-hover>
      <app-image-hover
        matTooltip="House"
        [matTooltipPosition]="'below'"
        imageUrl="./assets/house-icon.png" imageUrlHover="./assets/house-icon-hover.png"
        (click)="selectGoal('House')"></app-image-hover>
      <app-image-hover
        matTooltip="Boat"
        [matTooltipPosition]="'below'"
        imageUrl="./assets/boat-icon.png" imageUrlHover="./assets/boat-icon-hover.png"
        (click)="selectGoal('Boat')"></app-image-hover>
      <app-image-hover
        matTooltip="Car"
        [matTooltipPosition]="'below'"
        imageUrl="./assets/car-ride.png" imageUrlHover="./assets/car-ride-hover.png"
        (click)="selectGoal('Car')"></app-image-hover>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="(status$ | async) === registationPageStatusses.FORM">
  <mat-card-header>
    <mat-card-title><h2>Registration</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-registration-form></app-registration-form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="(status$ | async) === registationPageStatusses.CALCULATION_ASSETMIX">
  <mat-card-content>
    <app-loading imageUrl="./assets/a.png" description="Calculation optimal asset allocation..."></app-loading>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="(status$ | async) === registationPageStatusses.CREATING_CONTRACT">
  <mat-card-content>
    <app-loading imageUrl="./assets/b.png"
                 description="Creating smart contract with optimal allocation..."></app-loading>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="(status$ | async) === registationPageStatusses.CONFIRMATION">
  <mat-card-header>
    <mat-card-title><h2>Your contract</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-confirmation [registrationState]="registrationState$ | async"></app-confirmation>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/dashboard">Confirm</button>
    <button mat-button color="warn" (click)="cancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
