<div class="mat-typography app-container">
  <mat-sidenav-container>

    <mat-sidenav mode="side" [opened]="true">
      <mat-toolbar color="primary">Doctor Nudge</mat-toolbar>

      <mat-nav-list>
        <a mat-list-item
           routerLink="/dashboard"
           routerLinkActive="active-link">
          <mat-icon mat-list-icon>insert_chart</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item
           routerLink="/registration"
           routerLinkActive="active-link">
          <mat-icon mat-list-icon>input</mat-icon>
          <span>Registration</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <app-toolbar></app-toolbar>

    <div class="main-section">
      <div class="main-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-container>
</div>
