@import '../../../variables';

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'goal feasibility current-capital'
    'return return return';
  grid-auto-columns: 1fr;
  padding-top: 50px;
}

.goal {
  position: relative;
  grid-area: goal;
}

.feasibility {
  position: relative;
  grid-area: feasibility;
}

.current-capital {
  position: relative;
  grid-area: current-capital;
}

.return {
  grid-area: return;
}

.small {
  color: white;
  background-color: $ortec-blue;
}

.icon {
  position: absolute;
  //top: -138px;
  left: 0;
  margin-top: -99px !important;
}

.refresh {
  text-align: center;
}
