@import '../../../variables';

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'goal feasibility current-capital'
    'return return return';
  grid-auto-columns: 1fr;
}

.goal {
  grid-area: goal;
}

.feasibility {
  grid-area: feasibility;
}

.current-capital {
  grid-area: current-capital;
}

.return {
  grid-area: return;
}

.small {
  color: white;
  background-color: $ortec-blue;
}
