.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'goal feasibility current-capital'
    'return return return';
  grid-auto-columns: 1fr;
}

app-goal-card {
  grid-area: goal;
}

app-feasibility-card {
  grid-area: feasibility;
}

app-current-capital-card {
  grid-area: current-capital;
}

app-return-card {
  grid-area: return;
}
