<div class="wrapper">

  <mat-card class="small goal">
    <mat-card-content>
      <app-goal-card></app-goal-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="small feasibility">
    <mat-card-content>
      <app-feasibility-card></app-feasibility-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="small current-capital">
    <mat-card-content>
      <app-current-capital-card></app-current-capital-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="large return">
    <mat-card-header>
      <mat-card-title><h2>Return</h2></mat-card-title>
      <mat-card-subtitle>Let's see how your investments have performed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-return-card></app-return-card>
    </mat-card-content>
  </mat-card>

</div>
