<div class="wrapper">

  <mat-card class="small goal">
    <img class="icon" src="./assets/dash-goal-icon.png" alt=""/>
    <mat-card-content>
      <app-goal-card></app-goal-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="small feasibility">
    <img class="icon" src="./assets/dash-feasibility-icon.png" alt=""/>
    <mat-card-content>
      <app-feasibility-card></app-feasibility-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="small current-capital">
    <img class="icon" src="./assets/dash-current-capital-icon.png" alt=""/>
    <mat-card-content>
      <app-current-capital-card></app-current-capital-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="large return">
    <mat-card-header>
      <mat-card-title><h2>Wealth over time</h2></mat-card-title>
      <mat-card-subtitle>Realization & prognosis</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-return-card></app-return-card>
    </mat-card-content>
  </mat-card>

</div>
